[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
cryptography = "*"
djangorestframework = "*"
requests = "*"
django-crontab = "*"
celery = "*"

[dev-packages]

[requires]
python_version = "3.8"
